
    <meta charset="UTF-8">
    <!--<title> Drop Down Sidebar Menu | CodingLab </title>-->
    <!-- Latest compiled and minified CSS -->
    <%- include('../scripts.ejs') %>
    <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="../../stylesheets/style.css">
<link rel="stylesheet" href="../../stylesheets/sidemenu.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bx-infinity'></i>
      <span class="logo_name">
        <img src="../../images/logo.png">
      </span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/dashboard">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Dashboard</span>
        </a>
       
      </li>
      <li>
        <a href="/channel">
          <i class='bx bx-tv' ></i>
          <span class="link_name">Channel</span>
        </a>
       
      </li>

      <li>
        <a href="/network">
          <i class='bx bx-network-chart' ></i>
          <span class="link_name">Network</span>
        </a>
       
      </li>

      <li>
        <a href="/compaign">
          <i class='bx bx-user-voice' ></i>
          <span class="link_name">Compaign</span>
        </a>
       
      </li>
      
      
      <li>
    <div class="profile-details">
      <div class="profile-content">
        <!--<img src="image/profile.jpg" alt="profileImg">-->
      </div>
      <div class="name-job">
        <div class="profile_name">User</div>
        <div class="job">Designation</div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div>
  </li>
</ul>
  </div>
 

