<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="../../stylesheets/style.css">
<link rel="stylesheet" href="../../stylesheets/sidemenu.css">
      
<nav class="vertical-menu-wrapper">
  <div class="vertical-menu-logo">
    <div>
        <img class="logo-img" src="../../images/logo.png">
    </div>
    <!-- <span class="open-menu-btn"><hr><hr><hr></span> -->
  </div>
  <ul class="vertical-menu">
    <li>Dashboard</li>
    <li>Users</li>
    <!-- <hr /> -->
    <li>Channel</li>
    <li>Network</li>
  </ul>
</nav>

<script>
//   $('.open-menu-btn').on('click', function(){
//   if($('body').hasClass('closed-menu')){
//     $('body').removeClass('closed-menu');
//   }else  $('body').addClass('closed-menu');
// });
</script>