<%- include('./sidemenu.ejs') %>
<div class="content-wrapper">
  <div class="content">
    <h1>Hello Dashboard</h1>
  </div>
</div>

<script>
//   $('.open-menu-btn').on('click', function(){
//   if($('body').hasClass('closed-menu')){
//     $('body').removeClass('closed-menu');
//   }else  $('body').addClass('closed-menu');
// });
</script>