
<%- include('../dashboard/sidemenu.ejs') %>


<section class="home-section">
  <div class="home-content">
    <i class='bx bx-menu' ></i>
    <span class="text">Channel</span>
  </div>

  <div class="listing">
    <div class="row">
      <div class="form-group create-btn-div col-xs-12 col-md-12 col-sm-12">
        <button type="button" class="btn btn-info view-form">Create Channel</button>
      </div>
    </div>
    <div class="table-responsive">
      
      <table id="example" class="display table table-responsive" style="width:100%">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Name</th>
                <th>State</th>
                <th>City</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
      
        
      </table> </div>

  </div>
  <div class="create-form hide">
    <h4>Create Channel</h4>
    <br>
    <form>
      <div class="form-group form-panel">
        <label for="stateSelect">State</label>
        <select  class="js-example-basic-single stateSelect form-control" id="stateSelect" name="state">
        </select>
      </div>

      <div class="form-group form-panel">
        <label for="citySelect">City</label>
        <select class="js-example-basic-single citySelect form-control" id="citySelect" name="citySelect">
        </select>
      </div>


        <div class="form-group form-panel">
          <label for="channelName">Channel Name</label>
          <input type="text" class="form-control" id="channelName" >
        </div>

        <!-- <div class="form-group form-panel">
            <label for="channelCode">Channel Code</label>
            <input type="number" class="form-control" id="channelCode" >
        </div>
-->
        <div class="form-group form-panel">
          <label for="channelProducer">Producer Name</label>
          <input type="text" class="form-control" id="channelProducer" >
      </div> 
      <br>
        <button type="button" class="btn btn-danger view-listing">Cancel</button>
        <button type="button" class="btn btn-primary add-channel">Submit</button>
    </form>
  </div>
</section>

<script>
  var states = [];
  $(document).ready(function() {
    let channels = []
    loadChannels();
    // new DataTable('#example', {
    //   lengthMenu: [
    //       [10, 25, 50, -1],
    //       [10, 25, 50, 'All']
    //   ]
    // });
    if(states.length == 0){
      loadStates();
    }
    $('.add-channel').click(function(e){
      addChannel()
    })
  })
  $('.view-form').click(function(){
    $('.listing').addClass('hide');
    $('.create-form').removeClass('hide')
  });
  $('.view-listing').click(function(){
    $('.listing').removeClass('hide');
    $('.create-form').addClass('hide')
  })

  


function loadStates(){
  $.ajax({
      type : "GET",
      url : "http://localhost:3000/config/states",
      contentType : "application/json",
      dataType : "json",  
    }).done(function(data){
      states = data.states;
      $('#stateSelect').empty().append(`<option class="" value=""></option>`)
      for(var i=0;i<states.length;i++){
        $('#stateSelect').append(`<option class="" value="${states[i].id}" data-id="${states[i].id}">${states[i].name}</option>`)
      }
      $('.stateSelect').select2({
        placeholder:'Select State'
      })
      .on('select2:select', function(e) {
        console.log('Selecting: ' , e.params.data.id);
        if(e.params.data.id != ''){
        loadCities(e.params.data.id)
        }
      });;
      $('.select2-selection').addClass('form-control');
      return;
  });
}

function loadCities(stateId){
  console.log("state:"+stateId);
  $.ajax({
      type : "GET",
      url : "http://localhost:3000/config/cities/"+stateId,
      contentType : "application/json",
      dataType : "json",  
    }).done(function(data){
      console.log("Resp:"+JSON.stringify(data));
      let citites= data.citites;
      $('#citySelect').empty().append(`<option class="" value=""></option>`)
      for(var i=0;i<citites.length;i++){
        $('#citySelect').append(`<option class="" value="${citites[i].id}" data-id="${citites[i].id}">${citites[i].name}</option>`)
      }
      $('.citySelect').select2({
        placeholder: 'Select City'
      })
      $('.select2-selection').addClass('form-control');
      return;
  });
}

function loadChannels(){
  $.ajax({
      type : "GET",
      url : "http://localhost:3000/channel/get",
      contentType : "application/json",
      dataType : "json",  
    }).done(function(data){
      console.log("Resp:"+JSON.stringify(data));
      let dataSet = data.channels;
      
    
    new DataTable('#example', {
      data: dataSet, 
      "retrieve": true,
      columns: [
        { data: 'id' },
        { data: 'name' },
        { data: 'state' },
        { data: 'city' },
        { data: 'created_at' },
        { data: 'updated_at' }
      ]
    });
      return;
  });
}

function addChannel(){
  
  let reqBody = {
    state: $('#stateSelect').val(),
    city: $('#citySelect').val(),
    name: $('#channelName').val(),
    producer: $('#channelProducer').val()
  }
  $.ajax({
      type : "POST",
      url : "http://localhost:3000/channel/add",
      data: reqBody,
      success: function(data){
        console.log(JSON.stringify(data));
        // $('.view-listing').trigger('click');
        alert(data.message);
        window.location.reload();
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(xhr.responseText);
      }
    });
}
 
</script>

 
<%- include('../dashboard/toggle.ejs') %>