
<%- include('../dashboard/sidemenu.ejs') %>

<style>
  div.action-buttons {
        white-space: nowrap;
    }
 
    div.action-buttons span {
        display: inline-block;
        min-width: 20px;
        font-size: 20px;
        cursor: pointer;
    }
</style>
<section class="home-section">
  <div class="home-content">
    <i class='bx bx-menu' ></i>
    <span class="text">Channel</span>
  </div>

  <div class="listing">
    <div class="row">
      <div class="form-group create-btn-div col-xs-12 col-md-12 col-sm-12">
        <button type="button" class="btn btn-info view-form">Create Channel</button>
      </div>
    </div>
    <div class="table-responsive">
      
      <table id="example" class="display table table-responsive" style="width:100%">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Name</th>
                <th>State</th>
                <th>City</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
        </thead>
      
        
      </table> </div>

  </div>
  <div class="create-form hide">
    <h4>Create Channel</h4>
    <br>
    <form>
      <div class="form-group form-panel">
        <label for="stateSelect">State</label>
        <select  class="js-example-basic-single stateSelect form-control" id="stateSelect" name="state">
        </select>
      </div>

      <div class="form-group form-panel">
        <label for="citySelect">City</label>
        <select class="js-example-basic-single citySelect form-control" id="citySelect" name="citySelect">
        </select>
      </div>


        <div class="form-group form-panel">
          <label for="channelName">Channel Name</label>
          <input type="text" class="form-control" id="channelName" >
        </div>

        <!-- <div class="form-group form-panel">
            <label for="channelCode">Channel Code</label>
            <input type="number" class="form-control" id="channelCode" >
        </div>
-->
        <div class="form-group form-panel">
          <label for="channelProducer">Producer Name</label>
          <input type="text" class="form-control" id="channelProducer" >
      </div> 
      <br>
        <button type="button" class="btn btn-danger view-listing">Cancel</button>
        <button type="button" class="btn btn-primary add-channel">Submit</button>
    </form>
  </div>

  <div class="edit-form hide">
    <h4>Edit Channel</h4>
    <br>
    <form>
      <span class="hide" id="editChannelId"></span>
      <div class="form-group form-panel">
        <label for="stateSelect">State : </label>
        <span id="editState"></span>
      </div>

      <div class="form-group form-panel">
        <label for="citySelect">City : </label>
        <span id="editCity"></span>
      </div>


        <div class="form-group form-panel">
          <label for="editChannelName">Channel Name</label>
          <input type="text" class="form-control" id="editChannelName" >
        </div>

        <!-- <div class="form-group form-panel">
            <label for="channelCode">Channel Code</label>
            <input type="number" class="form-control" id="channelCode" >
        </div>
-->
        <div class="form-group form-panel">
          <label for="editChannelProducer">Producer Name</label>
          <input type="text" class="form-control" id="editChannelProducer" >
      </div> 
      <br>
        <button type="button" class="btn btn-danger view-listing">Cancel</button>
        <button type="button" class="btn btn-primary edit-channel">Update</button>
    </form>
  </div>
</section>

<script>
  var states = [];
  $(document).ready(function() {
    let channels = []
    loadChannels();
    // new DataTable('#example', {
    //   lengthMenu: [
    //       [10, 25, 50, -1],
    //       [10, 25, 50, 'All']
    //   ]
    // });
    if(states.length == 0){
      loadStates();
    }
    $('.add-channel').click(function(e){
      addChannel()
    })
    $('.edit-channel').click(function(e){
      let selectedChId = $('#editChannelId').text()
      editChannel(selectedChId)
    })
  })
  $('.view-form').click(function(){
    $('.listing').addClass('hide');
    $('.create-form').removeClass('hide')
    $('.edit-form').addClass('hide')
  });
  $('.view-listing').click(function(){
    $('.listing').removeClass('hide');
    $('.create-form').addClass('hide');
    $('.edit-form').addClass('hide')
  })

  


function loadStates(){
  $.ajax({
      type : "GET",
      url : "http://localhost:3000/config/states",
      contentType : "application/json",
      dataType : "json",  
    }).done(function(data){
      states = data.states;
      $('#stateSelect').empty().append(`<option class="" value=""></option>`)
      for(var i=0;i<states.length;i++){
        $('#stateSelect').append(`<option class="" value="${states[i].id}" data-id="${states[i].id}">${states[i].name}</option>`)
      }
      $('.stateSelect').select2({
        placeholder:'Select State'
      })
      .on('select2:select', function(e) {
        console.log('Selecting: ' , e.params.data.id);
        if(e.params.data.id != ''){
        loadCities(e.params.data.id)
        }
      });;
      $('.select2-selection').addClass('form-control');
      return;
  });
}

function loadCities(stateId){
  console.log("state:"+stateId);
  $.ajax({
      type : "GET",
      url : "http://localhost:3000/config/cities/"+stateId,
      contentType : "application/json",
      dataType : "json",  
    }).done(function(data){
      console.log("Resp:"+JSON.stringify(data));
      let citites= data.citites;
      $('#citySelect').empty().append(`<option class="" value=""></option>`)
      for(var i=0;i<citites.length;i++){
        $('#citySelect').append(`<option class="" value="${citites[i].id}" data-id="${citites[i].id}">${citites[i].name}</option>`)
      }
      $('.citySelect').select2({
        placeholder: 'Select City'
      })
      $('.select2-selection').addClass('form-control');
      return;
  });
}

function loadChannels(){
  $.ajax({
      type : "GET",
      url : "http://localhost:3000/channel/get",
      contentType : "application/json",
      dataType : "json",  
    }).done(function(data){
      // console.log("Resp:"+JSON.stringify(data));
      let dataSet = data.channels;
      
    
      var table =  new DataTable('#example', {
      data: dataSet, 
      "retrieve": true,
      columns: [
        { data: 'id' },
        { data: 'name' },
        { data: 'state' },
        { data: 'city' },
        { data: 'created_at' },
        { data: 'updated_at' },
        {
            data: null,
            defaultContent:
                `<div class="action-buttons">
                  <span class="edit"><i class="fa fa-pencil"></i></span> 
                  <span class="remove"><i class="fa fa-trash"></i></span> 
                </div>`,
            className: 'row-edit dt-center',
            orderable: false
        }
      ]
    }).on('click', 'tbody span.remove', function (e) {
      if (window.confirm("Do you really want to Delete the Channel?")) {
        console.log($(this).parent().parent().parent().children()[0].textContent);
        let channelId = $(this).parent().parent().parent().children()[0].textContent;
        $.ajax({
          type : "DELETE",
          url : "http://localhost:3000/channel/delete/"+channelId,
          success: function(data){
            console.log(JSON.stringify(data));
            // $('.view-listing').trigger('click');
            alert(data.message);
            window.location.reload();
          },
          error: function(xhr, ajaxOptions, thrownError) {
            alert(xhr.responseText);
          }
        });
      }
    }).on('click', 'tbody span.edit', function (e) {
      console.log($(this).parent().parent().parent().children()[0].textContent);
        let channelId = $(this).parent().parent().parent().children()[0].textContent;
        $.ajax({
          type : "GET",
          url : "http://localhost:3000/channel/getById/"+channelId,
          success: function(data){
            console.log(JSON.stringify(data));
            let channelData = data.channel[0];

            $('.listing').addClass('hide');
            $('.edit-form').removeClass('hide');
            $('#editState').text(channelData.state);
            $('#editCity').text(channelData.city);
            $('#editChannelName').val(channelData.name);
            $('#editChannelProducer').val(channelData.producer);
            $('#editChannelId').text(channelData.id)
          },
          error: function(xhr, ajaxOptions, thrownError) {
            alert(xhr.responseText);
          }
        });
    });
    return;
  });
}

function addChannel(){
  
  let reqBody = {
    state: $('#stateSelect').val(),
    city: $('#citySelect').val(),
    name: $('#channelName').val(),
    producer: $('#channelProducer').val()
  }
  $.ajax({
      type : "POST",
      url : "http://localhost:3000/channel/add",
      data: reqBody,
      success: function(data){
        console.log(JSON.stringify(data));
        // $('.view-listing').trigger('click');
        alert(data.message);
        window.location.reload();
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(xhr.responseText);
      }
    });
}


function editChannel(channelId){
  
  let reqBody = {
    name: $('#editChannelName').val(),
    producer: $('#editChannelProducer').val()
  }
  $.ajax({
      type : "POST",
      url : "http://localhost:3000/channel/edit/"+channelId,
      data: reqBody,
      success: function(data){
        console.log(JSON.stringify(data));
        // $('.view-listing').trigger('click');
        alert(data.message);
        window.location.reload();
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(xhr.responseText);
      }
    });
}

// table.on('click', 'tbody span.remove', function (e) {
//     alert("Delete called")
// });
 
</script>

 
<%- include('../dashboard/toggle.ejs') %>