<%- include('../dashboard/sidemenu.ejs') %>


    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <span class="text">Compaign</span>
        </div>
        <div class="create-form">
            <h4>Create Comapign</h4>
            <br>
            <form>
                <div class="row">
                    <div class="form-group col-xs-12 col-md-12 col-sm-12">
                        <label for="networkName">Compaign Name</label>
                        <input type="text" class="form-control" id="networkName">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col col-12 col-sm-6 col-md-6">
                        <label for="stateSelect">State</label>
                        <select class="form-control" id="stateSelect">
                            <option>Maharashtra</option>
                            <option>Karnataka</option>
                            <option>Telangana</option>
                        </select>
                    </div>
    
                    <div class="form-group col col-12 col-sm-6 col-md-6">
                        <label for="citySelect">City</label>
                        <select class="form-control" id="citySelect">
                            <option>Mumbai</option>
                            <option>Pune</option>
                            <option>Nashik</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col col-12 col-sm-6 col-md-6">
                        <label for="networkSelect">Network</label>
                        <select class="form-control" id="networkSelect">
                            <option>Network 1</option>
                            <option>Network 2</option>
                            <option>Network 3</option>
                        </select>
                    </div>
                    <div class="form-group col col-12 col-sm-6 col-md-6">
                        <label for="channelSelect">Channel (Will Be Populated as per Network Selection)</label>
                        <select multiple class="form-control" id="channelSelect">
                            <option>Channel 1</option>
                            <option>Channel 2</option>
                            <option>Channel 3</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col col-12 col-sm-6 col-md-6">
                        <label for="startDate">Start Date</label>
                        <input type="date" class="form-control" id="startDate">
                    </div>
                    <div class="form-group col col-12 col-sm-6 col-md-6">
                        <label for="endDate">End Date</label>
                        <input type="date" class="form-control" id="endDate">
                    </div>
                </div>
                
                <fieldset class="form-group">
                    <div class="row">
                        <div class="form-group col col-12 col-sm-6 col-md-6">
                            <label for="slotType">Slot Type</label>
                            <div>
                                <div class="form-check">
                                <input class="form-check-input" type="radio" name="slotType" id="staticSlot" value="static" checked>
                                <label class="form-check-label" for="staticSlot">
                                    Static
                                </label>
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="radio" name="slotType" id="dynamicSlot" value="dynamic">
                                <label class="form-check-label" for="dynamicSlot">
                                    Dynamic
                                </label>
                                </div>
                            </div>
                        </div>
                    </div>
                  </fieldset>


                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>


    <%- include('../dashboard/toggle.ejs') %>