:root {
  --primary: #0d6efd;
  --secondary: #ec343c;
  --whiteColor: #ffffff;
  --blackColor: #000000;
}

body {
  /* padding: 50px; */
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
  .login-bg {
    background-color: black !important;
    background-image: none !important;
  }
}

a {
  color: #00B7FF;
}

.login-bg {
  background-image: url(../images/bg1.png);
  background-repeat: no-repeat;
}

.create-form{
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.form-panel{
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .form-panel{
    width: 100%;
  }
}

.form-check-label{
  font-weight: 100;
}