:root {
  --primary: #0d6efd;
  --secondary: #ec343c;
  --whiteColor: #ffffff;
  --blackColor: #000000;
}

body {
  /* padding: 50px; */
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
  .login-bg {
    background-color: black !important;
    background-image: none !important;
  }
}
.no-border{
  border: none;
  box-shadow: none;
}

a {
  color: #00B7FF;
}

.login-bg {
  background-image: url(../images/bg1.png);
  background-repeat: no-repeat;
}

.center {
  text-align: center !important;
}

.err-msg {
  color: red !important;
}

.listing{
  padding: 20px;
}

.create-form,
.edit-form{
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.form-panel{
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .form-panel{
    width: 100%;
  }
}

.no-padding{
  padding: 0px !important;
}

.form-check-label{
  font-weight: 100;
}

.create-btn-div{
  text-align: right;
}

.selectBtn {
  text-align: left;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 1px solid #cccccc;
}

.selectBtn:hover, .selectBtn:focus {
}

#searchFilterIp {
  position: fixed;
  width: 45.5%;
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  border: none;
  border-bottom: 1px solid #ddd;
}

@media only screen and (max-width: 600px) {
  #searchFilterIp {
    width: 70%;
  }
}

#searchFilterIp:focus {outline: 3px solid #ddd;}

.selectWrapper {
  position: relative;
  display: inline-block;
}

.selectContent {
  height: 50vh;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100%;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.selectOptions{
  margin-top: 50px;
}
.selectOptions span {
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.selectWrapper a:hover {background-color: #ddd;}

.show {display: block;}

.select2-selection__rendered{
  line-height: 20px !important;
}
.select2-container{
  width: 100% !important;
}

.select2-container .select2-selection--single{
  height: 35px !important;
}

.dataTables_length{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-left: 15px !important;
  text-align: left !important;
}
.dataTables_filter{
  text-align: left !important;
}

.dataTables_length select {
  margin-left: 20px !important;
  width: 50px !important;
  height: 35px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
  margin-top: 0px !important;
  height: fit-content;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
  height: fit-content;
}

.select2-selection--multiple .select2-search--inline .select2-search__field{
  margin-top: 0px !important;
}

.comapign-count-div{
  border-top: 1px solid grey;
  padding-top: 30px !important;
  padding: 10px; 
}

.hide{
  /* transition: opacity 4s; */
  transform: scaleY(1);
  transition: transform 400ms ease 0ms;
}

.slot-card{
    border: 1px solid grey;
    padding: 10px;
    margin-top: 10px;
}

.loader{
  display:none;
}